[Unit]
Description=My service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python dataAcquisition.py
WorkingDirectory=/home/pi/Desktop/FINAL
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=